<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" verbose="true" convertNoticesToExceptions="false" stderr="true">
    <php>
        <ini name="date.timezone" value="GMT"/>
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">Test</directory>
        </whitelist>
    </filter>
</phpunit>